<h2 style="color: darkgoldenrod;text-align: center;">UPDATE STUDENT DETAILS</h2>
<div class="container">
    <label for="name">NAME : </label>
    <input type="text" id="name" [(ngModel)]="student.name" class="form-control"/>
<br/>
    <label for="course">COURSE: </label>
    <input type="text" id="course" [(ngModel)]="student.course" class="form-control" />
    <br/>
    <label for="fee">FEE : </label>
    <input type="number" id="fee" [(ngModel)]="student.fee" class="form-control"/>
    <br/>
    <label for="marks">MARKS : </label>
    <input type="number" id="marks" [(ngModel)]="student.marks" class="form-control"/>
    <br/>
    <button class="btn btn-success" (click)="updateStudent()">UPDATE</button>
</div>