<body>
  <br>
  <button class="btn btn-outline-secondary" routerLink="" style="margin-left: 40px;">Back</button>
<h3 class="first">STUDENTS HISTORY</h3>
<div class="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>COURSE</th>
    <th>FEE</th>
    <th>MARKS</th>
    <th>OPERATIONS</th>

  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stu of allStudent">
      <td> {{stu.id}}</td>
      <td>{{stu.name}}</td>
      <td>{{stu.course}}</td>
      <td> {{stu.fee}}</td>
      <td>{{stu.marks}}</td>
      <td><button (click)="deleteStudent(stu.id)" class="btn btn-danger">DELETE</button> &nbsp; &nbsp;
        <a routerLink='/update/{{stu.id}}' class="btn btn-info">UPDATE</a>
      </td>
    </tr>
  </tbody>
</table>
</div>
</body>